= semantic_form_for @agenda, url: schedule_admin_legislative_path(resource) do |f|
  = f.inputs name: "Agendar Proyecto" do
    = f.input :event_at, as: :string, input_html: { class: "datepicker" }, label: "Fecha"
    = f.input :time, label: "Hora", minute_step: 30, ampm: true
    = f.input :body, label: "Descripción", input_html: { rows: 6 }
    = f.input :plenary_commission, label: "Plenaria/Comisión"
  = f.actions do
    = f.action :submit, as: :button
    %li.cancel
      = link_to "Cancelar", admin_legislatives_path
