.title
  = resource.title
%br
= semantic_form_for :stakeholders do |f|
  = f.inputs name: "Agregar Autores" do
    = f.input :authors, collection: options_for_select(@holders, @authors), input_html: { class: "chosen-select", multiple: true }, label: "Congresistas"
  = f.inputs name: "Agregar Ponentes Cámara" do
    = f.input :chamber_speakers, collection: options_for_select(@holders, @chamber_speakers), input_html: { class: "chosen-select", multiple: true }, label: "Congresistas"
  = f.inputs name: "Agregar Ponentes Senado" do
    = f.input :senate_speakers, collection: options_for_select(@holders, @senate_speakers), input_html: { class: "chosen-select", multiple: true }, label: "Congresistas"
  = f.inputs name: "¿Enviar notificación?" do
    = f.input :notify, as: :boolean, label: "Enviar"
  = f.actions do
    = f.action :submit, as: :button, label: "Guardar Stakeholders"
    %li.cancel
      = link_to "Cancelar", admin_legislative_path(resource)
