%h2
  = fa_icon "edit"
  Edit #{resource_name.to_s.humanize} Editar Usuario
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .row
    .large-3.medium-3.small-4.columns.labels
      .field
        = f.label :email
    .large-9.medium-9.small-8.columns
      = f.email_field :email, autofocus: true
  .row
    .large-12.medium-12.small-12.columns
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

  .row
    .large-3.medium-3.small-4.columns.labels
      .field
        = f.label :contraseña
    .large-9.medium-9.small-8.columns
      %i (dejar en blanco si no quiere cambiar su contraseña)
      = f.password_field :password, autocomplete: "off"
  .row
    .large-3.medium-3.small-4.columns.labels
      .field
        = f.label :confirme_contraseña
    .large-9.medium-9.small-8.columns
      = f.password_field :password_confirmation, autocomplete: "off"

  .row
    .large-3.medium-3.small-4.columns.labels
      .field
        = f.label :contraseña_actual
    .large-9.medium-9.small-8.columns
      %i (necesitamos su contraseña actual para confirmar sus cambios)
      = f.password_field :current_password, autocomplete: "off"
  .row
    .large-3.medium-3.small-4.columns.labels
      .field
    .large-9.medium-9.small-8.columns
      .actions
        = f.submit "Actualizar", class: "success button"
.cancelAccount
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
