%table{:cellpadding => "10", :style => "margin: 0 auto;border: 1px solid lightgray; font-family: 'Arial', sans-serif; font-size: 10pt; color: dimgray; line-height: 16pt;", :width => "960px"}
  %thead
    %tr
      %td{:width => "203"}
        = image_tag("logo_sm.jpg")
      %td{:style => "text-align: left; font-family: 'verdana', sans-serif; font-size: 12pt; color: steelblue; padding-top: 15px;"}
        Apreciado Usuario
        %span{:style => "color: DarkBlue; display: block; font-weight: bold; font-size: 1em; margin-bottom: 1em;"}
          = @name
      %td{:width => "203"}
        = image_tag("imagen.jpg")
  %tbody
    %tr
      %td{:align => "center", :colspan => "3"}
        %span{:style => "background: DeepSkyBlue; color: white; font-family: 'Arial', sans-serif; font-size: 10pt; padding: 5px 20px; border-radius: 12px;"}
          %strong Estas son las noticias más importantes en SIDEGAP
    - if @legislatives_stories.present?
      %tr
        %td{:align => "left", :colspan => "3", :style => " font-family: 'Arial', sans-serif; border-top: 3px solid #F49027;  "}
          %span{:style => "color: steelblue; font-size: 14pt; line-height: 24pt;"}
            %strong RAMA LEGISLATIVA
          - @legislatives_stories.each do |story|
            %br/
            %span{:style => "color: steelblue;"}
              %strong= story.title
            %p{:align => "justify"}
              = story.body
              %a{:href => story.project_rule, :style => "color: steelblue; text-decoration:none;"} Ver Proyecto
    - if @councils_stories.present?
      %tr
        %td{:align => "left", :colspan => "3", :style => " font-family: 'Arial', sans-serif; border-top: 3px solid #365DB9;  "}
          %span{:style => "color: steelblue; font-size: 14pt; line-height: 24pt;"}
            %strong CONCEJO DE BOGOTÁ
          - @councils_stories.each do |story|
            %br/
            %span{:style => "color: steelblue;"}
              %strong= story.title
            %p{:align => "justify"}
              = story.body
              %a{:href => story.project_rule, :style => "color: steelblue; text-decoration:none;"} Ver Proyecto
    - if @rules_stories.present?
      %tr
        %td{:align => "left", :colspan => "3", :style => " font-family: 'Arial', sans-serif; border-top: 3px solid #45C051; "}
          %span{:style => "color: steelblue; font-size: 14pt; line-height: 24pt;"}
            %strong NORMAS EN PROCESO DE CONSULTA CIUDADANA DE LA RAMA EJECUTIVA DEL PODER PUBLICO

          - @rules_stories.each do |story|
            %br/
            %span{:style => "color: steelblue;"}
              %strong= story.title
            %p{:align => "justify"}
              = story.body
              %a{:href => story.project_rule, :style => "color: steelblue; text-decoration:none;"} Ver Proyecto
    %tr
      %td{:align => "center", :colspan => "3", :style => " font-family: 'Arial', sans-serif;  "}
        %span{:style => "color: steelblue; "} Apreciado Usuario para conocer las normas mas reciente haga click sobre la Rama del Poder sobre la cual quisiera obtener la información.
        %br/
        %table{:style => "margin-top: 25px;"}
          %tr
            %td
              %a{:href => legislatives_url}
                = image_tag("legislativa.jpg")
            %td
              %a{:href => rules_url}
                = image_tag("normas.jpg")
            %td
              %a{:href => councils_url}
                = image_tag("concejos.jpg")
        %br/
    %tr
      %td{:align => "center", :colspan => "3", :style => " font-family: 'Arial', sans-serif; line-height: 12pt;"}
        %hr/
        %span{:style => "color: gray; font-size: 8pt; font-family: verdana;"}
          Este es un informe automático generado SIDEGAP, por favor no responda este mensaje. Para obtener mas información visite nuestro sitio web
          %a{:href => "http://www.sidegap.com.co"} sidegap.com.co
          %br/
          o comuníquese con nosotros al teléfono 4674110 o al correo electrónico
          %a{:href => "mailto:sidegap@valure.com.co"} sidegap@valure.com.co
        %br/
