%table{:cellpadding => "10", :style => "margin: 0 auto; border: 1px solid lightgray; font-family: 'Arial', sans-serif; font-size: 10pt; color: dimgray; line-height: 16pt;", :width => "960px"}
  %thead
    %tr
      %td{:width => "203"}
        = image_tag("logo_sm.jpg")
      %td{:style => "text-align: left; font-family: 'verdana', sans-serif; font-size: 12pt; color: steelblue; padding-top: 15px;"}
        Apreciado Usuario
        %span{:style => "color: DarkBlue; display: block; font-weight: bold; font-size: 1em; margin-bottom: 1em;"}= @name
      %td{:width => "203"}
        = image_tag("legislativa.jpg")
  %tbody
    %tr
      %td{:align => "center", :colspan => "3"}
        %span{:style => "color: DarkBlue; font-family: 'Arial', sans-serif; font-size: 10pt; background: LightSkyBlue; padding: 5px 20px; border-radius: 12px;"}
          %strong
            Le notificamos que ha habido un cambio en un proyecto de ley que es de su interés y se encuentra sus proyectos en seguimiento:
  %tbody
    %tr
      %td{:colspan => "3"}
        %span
          %strong 
    %tr
      %td{:align => "right"}
        %strong Titulo Proyecto:
      %td{:colspan => "2"}
        %span= simple_format @project.title
    
    - if @authors.size > 0
      %tr
        %td{:align => "right"}
          %strong Nuevos Autores:

        %td{:colspan => "2"}
          - @authors.each do |author|
            %ul
              %li= author.name
    
    - if @chamber_speakers.size > 0
      %tr
        %td{:align => "right"}
          %strong Nuevos Ponentes Cámara:

        %td{:colspan => "2"}
          - @chamber_speakers.each do |chamber_speaker|
            %ul
              %li= chamber_speaker.name
    
    - if @senate_speakers.size > 0
      %tr
        %td{:align => "right"}
          %strong Nuevos Ponentes Senado:

        %td{:colspan => "2"}
          - @senate_speakers.each do |senate_speaker|
            %ul
              %li= senate_speaker.name

    %tr
      %td{:align => "right"}
        = image_tag("doclink.jpg")
      %td{:colspan => "2"}
        %strong
          %a{:href => legislative_url(@project, locale: :es), :style => "display: inline-block; background: LightSkyBlue; padding: 5px 10px; border-radius: 15px; text-decoration: none;", :target => "_blank"} Ver Proyecto
    / footer
    %tr
      %td{:align => "center", :colspan => "3", :style => " font-family: 'Arial', sans-serif; line-height: 12pt;"}
        %hr/
        %span{:style => "color: gray; font-size: 8pt; font-family: verdana;"}
          Este es un informe automático generado SIDEGAP, por favor no responda este mensaje. Para obtener mas información visite nuestro sitio web
          %a{:href => "http://www.sidegap.com.co"} sidegap.com.co
          %br/
          o comuníquese con nosotros al teléfono 4674110 o al correo electrónico
          %a{:href => "mailto:sidegap@valure.com.co"} sidegap@valure.com.co
        %br/
