%tr
  %td.num
    = legislative.chamber_number
  %td.num
    = legislative.senate_number
  %td.desc
    %p
      = simple_format legislative.title
    - if legislative.warning
      %span.round.label.linear.urgent
        = fa_icon "exclamation-circle"
        Mensaje de urgencia
    - if legislative.legislative
      %span.round.label.linear.urgent
        = fa_icon "exclamation-circle"
        Proyecto acumulado
  %td.desc
    - if %w(Archivado Retirado).include? legislative.final_status
      = "Este proyecto fue #{legislative.final_status} en #{legislative.status}"
    - elsif %w(Sancionado).include? legislative.final_status
      = "Este proyecto fue #{legislative.final_status}"
    - else
      = legislative.status
  %td
    = legislative.type_law
  - if @favorite
    %td
      = legislative.comments.average(:impact).to_i
  %td.actions
    - unless current_user.disliked? legislative
      %a.more{href: legislative_path(legislative)}
        = fa_icon "arrow-circle-right"
        %span
          Ver
      - if current_user.following? legislative
        %a.follow{href: unfollow_legislative_path(legislative)}
          = fa_icon "eye-slash"
          %span
            Dejar de Seguir
      - else
        %a.follow{href: follow_legislative_path(legislative)}
          = fa_icon "eye"
          %span
            Seguir
    - unless current_user.following? legislative
      - if current_user.disliked? legislative
        %a.return{href: like_legislative_path(legislative)}
          = fa_icon "reply"
          %span
            Reestablecer
      - else
        %a.archive{href: dislike_legislative_path(legislative)}
          = fa_icon "trash"
          %span
            Papelera
