%h2 Añadir Observación

.panels-view
  %p 
    %strong Fecha:
    = ldate @event.event_at
  %p 
    %strong Hora:
    = l @event.time, format: :simple
  %p 
    %strong Evento:
    = simple_format @event.body
  %p 
    %strong Tipo de Evento:
    = @event.event_type

= form_tag event_observation_legislatives_path(event_id: @event.id), method: :post do
  = label_tag :observation, 'Observación'
  = text_area_tag :observation
  = submit_tag 'Añadir observación'
