- content_for :menu do
  = render 'menu'
.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "calendar"
        Agenda de Plenarias y Comisiones
      .tray.calendar
        = search_form_for @q, url: url_for, remote: true do |f|
          .row
            .large-12.columns
              .alert-box.info.radius{"data-alert" => ""}
                La Agenda muestra los eventos de los próximos 7 días a partir de la fecha
                %a.close{href: "#"} &times;
          .row.filter
            .large-1.medium-2.small-4.columns
              %label
                Fecha:
            .large-2.medium-3.small-8.columns
              .date
                = f.search_field :event_at_gteq, class: "fecha span2", size: "16"
            .large-2.medium-offset-0.medium-2.small-offset-4.small-8.columns
              %button.success.fullwidth{href: "#", type: "submit"}
                = fa_icon "search"
                Buscar
              %button.secondary.fullwidth{type: "button"}
                %a{href: url_for}
                  \× Quitar Filtros
            .large-offset-7.medium-offset-5.small-12.colums
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "40%"}
            %col{width: "25%"}
          %thead
            %tr
              %th Fecha Evento
              %th Hora Evento
              %th Num Camara
              %th Num Senado
              %th Proyecto
              %th Evento
          %tbody.js_agendas
            = render @agendas
  .row
    .small-12.columns
      %h2
        = fa_icon "check-square-o"
        Otros Eventos
      .tray.events
        %table
          %colgroup
            %col{width: "100"}
            %col
            %col
            %col
          %thead
            %tr
              %th
                Fecha
              %th
                Evento
              %th
                Tipo de Noticia
              %th
                Link Noticia
          %tbody
            - @events.each do |event|
              %tr
                %td.num= event.event_at
                %td.desc= simple_format event.body
                %td= event.event_type
                %td.actions
                  %a.link{href: "#"}
                    = fa_icon "external-link-square"
                    Enlace