.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "calendar"
        Agenda de Plenarias y Comisiones
      .tray.calendar
        = search_form_for @q, url: url_for, remote: true do |f|
          .row
            .large-12.columns
              .alert-box.info.radius{"data-alert" => ""}
                La Agenda muestra los eventos de los próximos días a partir de la fecha
                %a.close{href: "#"} &times;
          .row.filter
            .large-1.medium-1.small-3.columns
              %label
                Fecha:
            .large-3.medium-5.small-9.columns
              .date
                = f.search_field :event_at_gteq, class: "fecha span2", size: "16"
            .large-8.medium-offset-0.medium-6.small-offset-3.small-9.columns
              %input.button.success.fullwidth.search{type: "submit", value: "Buscar"}
              .button.secondary.fullwidth.quit
                %a{href: url_for}
                  Quitar Filtros
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "40%"}
            %col
            %col{width: "25%"}
          %thead
            %tr
              %th Fecha Evento
              %th Hora Evento
              %th Num Camara
              %th Num Senado
              %th Proyecto
              %th Comisión
              %th Evento
          %tbody.js_agendas
            = render @agendas
  .row
    .small-12.columns
      %h2
        = fa_icon "check-square-o"
        Otros Eventos
      .tray.events
        %table
          %colgroup
            %col
            %col
            %col
            %col{width: "10%"}
            %col{width: "10%"}
          %thead
            %tr
              %th
                Fecha
              %th
                Hora
              %th
                Evento
              %th
                Tipo de Evento
              %th
                Lugar
          %tbody.js_events
            = render @events
