- content_for :menu do
  = render 'menu'
.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "inbox"
        Bandeja de Proyectos
      .tray.projects
        .row.filter
          = search_form_for @q, remote: true do |f|
            .large-1.medium-2.small-4.columns
              %label
                Buscar:
            .large-3.medium-3.small-8.columns
              = f.search_field :title_cont, placeholder: "Escriba aquí para filtrar resultados"
            .large-4.medium-offset-0.medium-5.small-offset-4.small-8.columns
              %button.success#srch{href: "#", type: "submit"}
                = fa_icon "search"
                Buscar
              %button#avncd{href: "#", type: "button"}
                = fa_icon "filter"
                Filtrar
            .large-offset-4.medium-offset-2.small-12.colums
        .row.avanced
          = search_form_for @q, remote: true do |f|
            .large-2.columns
              %label
                Comisión:
              = f.collection_select :commission_eq, Commission.all, :name, :name, include_blank: true
            .large-3.columns
              %label
                Cámara de Entrada:
              = f.collection_select :source_eq, Source.all, :name, :name, include_blank: true
              %label
                Fecha de Radicación
              = f.select :filing_at_gteq, options_for_select(Legislative::FILINGFILTERS), include_blank: true
            .large-3.columns
              %label
                Tema de Interés:
              = f.collection_select :topic_eq, Topic.all, :name, :name, include_blank: true
              %label
                Título:
              = f.search_field :title_cont
            .large-2.columns
              %label
                No. Cámara:
              = f.search_field :chamber_number_cont
              %label
                No. Senado:
              = f.search_field :senate_number_cont
            .large-2.columns
              %label
                %span.ghost
                  \_
              %button.success{href: "#", type: "submit"}
                = fa_icon "search"
                Buscar
              %label
                %span.ghost
                  \_
              %button.secondary#Quit{href: legislatives_path, type: "button"}
                / = fa_icon "remove"
                \× Ocultar Filtro
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "120"}
          %thead
            %tr
              %th
                Num Cámara
              %th
                Num Senado
              %th
                Título
              %th
                Fecha de Radicación
              %th
                Opciones
          %tbody.js_legislatives
            = render @legislatives
  .row
    .small-12.columns
      %h2
        = fa_icon "user"
        Perfil Congresista
      .pryctDtl
        %button
          = fa_icon "arrow-left"
          %a{href: legislatives_path}
            Consultar Congresistas
        .row.cntnr
          .large-12.columns
            .row.white.profileHdr
              .large-3.columns.fixHght
                %figure
                  = image_tag("avatar_default.png")
                  %figcaption
                    Alirio Uribe Muñoz
              .large-4.columns.fixHght.ghost
              .large-5.columns.fixHght.ghost.prflActns.actions
                %a
                  = fa_icon "file"
                  %span
                    Ver Autor
                %a
                  = fa_icon "file"
                  %span
                    Ver Ponentes
                %a
                  = fa_icon "file-pdf-o"
                  %span
                    Exportar a PDF
            .row
              .large-2.columns.labels
                %label
                  Nombre
              .large-10.columns
                %span
                  Alirio Uribe Muñoz
            .row
              .large-2.columns.labels
                %label
                  Corporación Institucional
              .large-4.columns
                %span
                  Congreso de la República
              .large-2.columns.labels
                %label
                  Cargo
              .large-4.columns
                %span
                  Representante a la Cámara 
            .row
              .large-2.columns.labels
                %label
                  Partido
              .large-4.columns
                %span
                  POLO
              .large-2.columns.labels
                %label
                  Comisión
              .large-4.columns
                %span
                  II
            .row
              .large-2.columns.labels
                %label
                  Dirección
              .large-4.columns
                %span
                  Carrera 7 N° 8-68
              .large-2.columns.labels
                %label
                  Región
              .large-4.columns
                %span
                  Bogotá
            .row
              .large-2.columns.labels
                %label
                  Teléfono del Trabajo
              .large-4.columns
                %span
                  (571) 3824483-4484-4485
              .large-2.columns.labels
                %label
                  Oficina
              .large-4.columns
                %span
                  506B
            .row
              .large-2.columns.labels
                %label
                  E-mail
              .large-4.columns
                %span
                  alirio.uribe.representante@gmail.com
              .large-2.columns.labels
                %label
                  Fuente de Información
              .large-4.columns
                %span
                  http://aliriouribe.com/perfil-2/
            .row
              .large-2.columns.labels
                %label
                  Perfil
              .large-10.columns
                %span
                  %p
                    Abogado de la universidad católica, con especializaciones en derecho laboral y relaciones industriales de la universidad externado de colombia y en derechos humanos de la escuela superior de administración pública – esap. 
                  %p
                    Fue integrante de la organización no gubernamental colectivo de abogados “josé alvear restrepo”, vicepresidente de la federación internacional de derechos humanos – fidh – durante los períodos 1998-2000, 2000-2003 y 2003 – 2006, en los que fue encargado de misiones internacionales en países de américa latina, ex presidente de la asociación de especialistas de derechos humanos de la esap, miembro y ex presidente de la asociación colombiana de abogados laboralistas de los trabajadores.
                  %p
                    Recibió  el premio para defensores de derechos humanos martín ennals, otorgado a instituciones y personas por las redes mundiales más importantes,  este premio fue entregado por su lucha constante contra la corrupción y la impunidad en colombia. Obtuvo el  premio de derechos humanos de la república francesa, en 1996,  fue juez del tribunal permanente de los pueblos en juicios éticos contra empresas multinacionales,  presentó asimismo varias acciones ante instancias de supervisión internacionales ante la oea (comisión interamericana de derechos humanos) y onu por violaciones de derechos humanos, de tal manera, fue representante de víctimas en reconocidos casos,  igualmente contribuyó al impulso de múltiples demandas públicas ante la corte constitucional y ante el consejo de estado.
                  %p
                    Se ha desempeñado como profesor universitario con experiencia en pregrado, en especializaciones y diplomados en el área de derechos humanos,  ha sido conferencista en múltiples eventos internacionales e igualmente ha contribuido a la discusión y análisis con artículos para revistas y otros medios de comunicación. 
                  %p
                    Actual vicepresidente  de comisión segunda de cámara de representantes.
