!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Sidegap
    / Load the AJAX API
    %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      var values_status = #{@legislatives_by_status.to_a};
      values_status.unshift(['Estado', 'Cantidad']);

      var values_topic = #{@legislatives_by_topic.to_a};
      values_topic.unshift(['Tema de interés', 'Cantidad']);

      var values_risk = #{@legislatives_by_risk.to_a};
      values_risk.unshift(['Cantidad', 'Riesgo', { role: 'style' }]);

      function errorHandler(errorMessage) {
        google.visualization.errors.removeError(errorMessage.id);
      }

      function drawChart() {
      
        // Risk

        var data_risk = google.visualization.arrayToDataTable(values_risk);
        var data_risk = new google.visualization.DataView(data_risk);
        data_risk.setColumns([0, 1, {
          calc: "stringify", sourceColumn: 1, type: "string", role: "annotation"
        }, 2]);
        
        var options_risk = {
          width: 500,
          height: 350,
          legend: { position: "none" }
        };
        
        var data_risk = google.visualization.arrayToDataTable(values_risk);
        var legislative_by_risk = document.getElementById('legislative_by_risk');
        var chart_risk = new google.visualization.ColumnChart(legislative_by_risk);
        
        google.visualization.events.addListener(chart_risk, 'ready', function () {
          legislative_by_risk.innerHTML = '<img src="' + chart_risk.getImageURI() + '">';
        });
        chart_risk.draw(data_risk, options_risk);


        var options = {
          width: 600,
          height: 350
        };

        // Status
        
        var legislative_by_topic_2 = document.getElementById('legislative_by_topic_2');

        var data_status_2 = google.visualization.arrayToDataTable(values_status);
        var legislative_by_status_2 = document.getElementById('legislative_by_status_2');
        var chart_status_2 = new google.visualization.PieChart(legislative_by_status_2);

        google.visualization.events.addListener(chart_status_2, 'error', errorHandler);
        google.visualization.events.addListener(chart_status_2, 'ready', function () {
          legislative_by_topic.innerHTML = '<img src="' + chart_status_2.getImageURI() + '">';
        });
        chart_status_2.draw(data_status_2, options);
        

        // Topic

        var legislative_by_status = document.getElementById('legislative_by_status');

        var data_topic = google.visualization.arrayToDataTable(values_topic);
        var legislative_by_topic = document.getElementById('legislative_by_topic');
        var chart_topic = new google.visualization.PieChart(legislative_by_topic);

        google.visualization.events.addListener(chart_topic, 'ready', function () {
          legislative_by_status.innerHTML = '<img src="' + chart_topic.getImageURI() + '">';
        });
        chart_topic.draw(data_topic, options);

      }

  %body

    %h1.report-title Informe legislativo
    .right= @report_date

    .panels-view.report
      .row.section
        .small-12.columns
          %h2
            = fa_icon "tasks"
            Resumen Semana - Monitoreo Normativo
          
          %table.table-border
            %colgroup
              %col
              %col
            %tbody
              - @summary_week.each_with_index do |notice, index|
                %tr
                  %td= (index + 1).to_s + '.'
                  %td= notice.body
      
      .row.section
        .small-12.columns
          %h2
            = fa_icon "calendar"
            Resumen Semana – Agenda

          %h3= 'Semana del ' + @last_week.to_s + ' al ' + @today.to_s + ' (semana anterior)'
          %table.table-report
            %colgroup
              %col
              %col{width: "15%"}
              %col
              %col{width: "40%"}
              %col{width: "20%"}
            %thead
              %tr
                %th Fecha
                %th Plenaria / Comisión
                %th Núm. Cámara
                %th Núm. Senado
                %th Evento
                %th Asunto
                %th Observaciones
            %tbody
              - @last_agendas.each do |agenda|
                %tr
                  %td= agenda.event_at
                  %td= agenda.plenary_commission
                  %td= agenda.legislative.chamber_number
                  %td= agenda.legislative.senate_number
                  %td= agenda.event_type
                  %td= agenda.body
                  %td= agenda.observation

          %h3= 'Semana del ' + @today.to_s + ' al ' + @next_week.to_s + ' (semana siguiente)'
          %table.table-report
            %colgroup
              %col
              %col{width: "15%"}
              %col
              %col{width: "40%"}
              %col{width: "20%"}
            %thead
              %tr
                %th Fecha
                %th Plenaria / Comisión
                %th Núm. Cámara
                %th Núm. Senado
                %th Evento
                %th Asunto
                %th Observaciones
            %tbody
              - @next_agendas.each do |agenda|
                %tr
                  %td= agenda.event_at
                  %td= agenda.plenary_commission
                  %td= agenda.legislative.chamber_number
                  %td= agenda.legislative.senate_number
                  %td= agenda.event_type
                  %td= agenda.body
                  %td= agenda.observation

      .row.section
        .small-12.columns
          %h2
            = fa_icon "calendar"
            Otros eventos

          %table.table-report
            %colgroup
              %col
              %col{width: "15%"}
              %col
              %col{width: "40%"}
              %col{width: "20%"}
            %thead
              %tr
                %th Fecha
                %th Plenaria / Comisión
                %th Evento
                %th Asunto
                %th Observaciones
            %tbody
              - @events.each do |event|
                %tr
                  %td= event.event_at
                  - if event.plenary
                    %td= event.plenary
                  - else
                    %td= event.commission
                  %td= event.event_type
                  %td= event.body
                  %td= event.observation

      .row.section
        .small-12.columns
          %h2
            = fa_icon "folder-open"
            Proyectos de Ley en Seguimiento

          %h3 Riesgo Regulatorio
          .row
            .small-4.columns
              %table.table-report
                %colgroup
                  %col
                  %col
                  %col{width: "33%"}
                %thead
                  %tr
                    %th Riesgo
                    %th Cantidad
                    %th Acumulado
                %tbody
                  - count = 0
                  - @legislatives_by_risk.each do |risk|
                    - count += risk[1]
                    %tr
                      %td= risk[0]
                      %td= risk[1]
                      %td= count
            .small-2.columns
              = wicked_pdf_image_tag 'risk.png'
            .small-6.columns
              #legislative_by_risk

          .row
            .small-6.columns
              %h3 Riesgo Regulatorio Alto / Tema
              %table.table-report
                %colgroup
                  %col{width: "60%"}
                  %col
                  %col{width: "20%"}
                %thead
                  %tr
                    %th Tema de Interés
                    %th Cantidad
                    %th %
                %tbody
                  - @legislatives_by_topic.each do |topic, amount|
                    %tr
                      %td= topic
                      %td= amount
                      %td= number_with_precision((amount / @total_by_topic.to_f * 100), precision: 2) + '%'
                  %tr
                    %td Total
                    %td= @total_by_topic
                    %td 100%

          %h3 Riesgo Regulatorio Alto / Estado / Definición
          %table.table-report
            %colgroup
              %col
              %col
              %col
              %col{width: "50%"}
            %thead
              %tr
                %th Riesgo
                %th Estado
                %th Tema de interés
                %th Descripción
            %tbody
              - @legislatives.each do |legislative|
                %tr
                  %td= legislative[:risk]
                  %td= legislative[:status]
                  %td= legislative[:topic]
                  %td= legislative[:title]

      .row.section
        .row
          .small-6.columns
            %h3 Proyectos por Cámara de Entrada
            %table.table-report
              %colgroup
                %col
                %col
                %col{width: "33%"}
              %thead
                %tr
                  %th Origen
                  %th Cantidad
                  %th Total
              %tbody
                - @legislatives_by_source.each do |source, amount|
                  %tr
                    %td= source
                    %td= amount
                    %td= number_with_precision((amount / @total_by_source.to_f * 100), precision: 2) + '%'
                %tr
                  %td Total
                  %td= @total_by_source
                  %td 100%
        
        %h3 Proyectos por Estado
        .row
          .small-6.columns
            %table.table-report
              %colgroup
                %col{width: "60%"}
                %col
                %col{width: "20%"}
              %thead
                %tr
                  %th Estado
                  %th Cantidad
                  %th %
              %tbody
                - @legislatives_by_status.each do |status, amount|
                  %tr
                    %td= status
                    %td= amount
                    %td= number_with_precision((amount / @total_by_status.to_f * 100), precision: 2) + '%'
                %tr
                  %td Total
                  %td= @total_by_status
                  %td 100%
          .small-6.columns
            #legislative_by_topic_2.hide
            #legislative_by_status_2

        %h3 Proyectos por Tema
        .row
          .small-6.columns
            #legislative_by_status.hide
            #legislative_by_topic
          .small-6.columns
            %table.table-report
              %colgroup
                %col{width: "60%"}
                %col
                %col{width: "20%"}
              %thead
                %tr
                  %th Tema de Interés
                  %th Cantidad
                  %th %
              %tbody
                - @legislatives_by_topic.each do |topic, amount|
                  %tr
                    %td= topic
                    %td= amount
                    %td= number_with_precision((amount / @total_by_topic.to_f * 100), precision: 2) + '%'
                %tr
                  %td Total
                  %td= @total_by_topic
                  %td 100%
  
      .row.section
        .small-12.columns
          %h2
            = fa_icon "users"
            Stakeholders de Mayor Impacto

          .row
            .small-6.columns
              %h3 Autores
              %table.table-report.table-simple
                %colgroup
                  %col{width: "20%"}
                  %col
                  %col{width: "20%"}
                %thead
                  %tr
                    %th Proyectos
                    %th Nombre
                    %th Riesgo Promedio
                %tbody
                  - @authors.each do |stakeholder|
                    %tr
                      %td= stakeholder[:legislatives]
                      %td= stakeholder[:name]
                      %td= stakeholder[:risk]

            .small-6.columns
              %h3 Ponentes
              %table.table-report.table-simple
                %colgroup
                  %col{width: "20%"}
                  %col
                  %col{width: "20%"}
                %thead
                  %tr
                    %th Proyectos
                    %th Nombre
                    %th Riesgo Promedio
                %tbody
                  - @speakers.each do |stakeholder|
                    %tr
                      %td= stakeholder[:legislatives]
                      %td= stakeholder[:name]
                      %td= stakeholder[:risk]
