.panels-view
  
  %h1 Informe Legislativo
  
  .right
    %a{ href: legislative_legislatives_path(format: :xlsx), target: "_blank"}
      = fa_icon "file-pdf-o"
      %span
        Exportar Proyectos a Excel

  .options.left.hide
    %a{ href: report_legislatives_path(user_id: @user_id, format: :pdf), target: "_blank"}
      = fa_icon "file-pdf-o"
      %span
        Exportar a PDF

  %hr/

  = form_tag '#', controller: 'legislatives', action: 'report_client', method: :post, html: { class: 'filter' } do
    .row
      .large-2.medium-1.small-3.columns
        = label_tag :client, 'Seleccionar Cliente'
      = select_tag :client, options_for_select(@users, @user_id), class: 'large-5 medium-5 small-9 columns'
      .large-5.columns
    .row
      .large-2.medium-1.small-3.columns
        = label_tag :logo, 'Seleccionar Logo'
      = select_tag :logo, options_for_select(@companies, @company_id), class: 'large-5 medium-5 small-9 columns'
      .large-5.columns
    = submit_tag 'Buscar', class: 'button success fullwidth search'

:javascript
  var client = $('#client').val();
  if(client != 0) {
    $('.options').removeClass('hide');
  }