- content_for :head do
  = javascript_include_tag 'application'
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  :javascript
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Set chart options
      var options = {
        width: 500,
        height: 350,
        is3D: true
      };

      var options_risk = {
        width: 500,
        height: 350,
        legend: { position: "none" }
      };

      // Status chart
      var values_status = #{@legislatives_by_status.to_a};

      var data_status = new google.visualization.DataTable();
      data_status.addColumn('string', 'Tema de interés');
      data_status.addColumn('number', 'Cantidad');
      data_status.addRows(values_status);

      var chart_status = new google.visualization.PieChart(document.getElementById('legislative_by_status'));
      chart_status.draw(data_status, options);

      // Topic chart
      var values_topic = #{@legislatives_by_topic.to_a};

      var data_topic = new google.visualization.DataTable();
      data_topic.addColumn('string', 'Tema de interés');
      data_topic.addColumn('number', 'Cantidad');
      data_topic.addRows(values_topic);

      var chart_topic = new google.visualization.PieChart(document.getElementById('legislative_by_topic'));
      chart_topic.draw(data_topic, options);

      // Risk chart
      var values_risk = #{@legislatives_by_risk.to_a};
      values_risk.unshift(['Riesgo', 'Cantidad', {role: 'style'}]);

      var data_risk = google.visualization.arrayToDataTable(values_risk);
      var data_risk = new google.visualization.DataView(data_risk);
      data_risk.setColumns([0, 1, {
        calc: "stringify", sourceColumn: 1, type: "string", role: "annotation"
      }, 2]);

      var chart_risk = new google.visualization.ColumnChart(document.getElementById('legislative_by_risk'));
      chart_risk.draw(data_risk, options_risk);
    }
    function onChangeClient (e, isAdmin) {
      var link = $("a.hidden-excel").attr("href");
      $("a.hidden-excel").attr("href", link.replace(/(client=)[^\&]+/, '$1' + (e.options[e.selectedIndex].value || !isAdmin)));
    }


%h1.report-title Informe legislativo
.right.visible-pdf= @report_date

- if current_user.has_role? :admin
  .panels-view.hidden-pdf
    .tray.projects
      .row
        .small-12.columns
          .tabs-content
            %section#bscPanel.content.active
              .row
                = form_tag url_for, method: :get do
                  .medium-2.small-12.columns
                    %label
                      Seleccionar Cliente
                  .medium-4.small-12.columns
                    = select_tag 'user_id', options_from_collection_for_select(@users, 'id', 'name', params[:user_id]), include_blank: true, required: true, onChange: "onChangeClient(this, #{current_user.has_role?(:admin)});"
                  .medium-offset-0.medium-4.small-12.columns
                    %input.button.success.search{type: "submit", value: "Buscar"}
                    .button.secondary.quit
                      %a{href: url_for}
                        Quitar Filtro
                  .medium-2.columns
.row
  .small-12.columns
    %a{ class: 'hidden-pdf hidden-excel', href: 'javascript:window.print()' }
      = fa_icon "file-pdf-o"
      %span
        Exportar a PDF

    %span.hidden-pdf
      |

    %a{ class: 'hidden-excel hidden-pdf', href: legislative_legislatives_path(format: :xlsx, client: current_user.has_role?(:admin) ? (params[:user_id] ? params[:user_id] : false) : true), target: "_blank"}
      = fa_icon "file-excel-o"
      %span
        Exportar a Excel

    %br/
    %br/

.panels-view.report
  .section.summary
    = render partial: 'legislatives/notices', locals: {notices: @summary_week}

  .row.section.nobreak
    .small-12.columns
      %h2
        = fa_icon "calendar"
        Resumen Semana – Agenda
      %h3= 'Semana del ' + @last_week.to_s + ' al ' + @today.to_s + ' (semana anterior)'
      = render partial: 'legislatives/agendas', locals: {agendas: @last_agendas}

  .row.section.nobreak
    .small-12.columns
      %h2 Otros eventos
      = render partial: 'legislatives/events', locals: {events: @events}
              
  .row.section.nobreak
    .small-12.columns
      %h3= 'Semana del ' + @today.to_s + ' al ' + @next_week.to_s + ' (semana siguiente)'
      = render partial: 'legislatives/agendas', locals: {agendas: @next_agendas}

  .row.section.nobreak
    .small-12.columns
      %h2 Otros eventos
      = render partial: 'legislatives/events', locals: {events: @events_next_week}

  .section
    = render partial: 'legislatives/legislatives_by_risk'

  .section
    = render partial: 'legislatives/legislatives_by_topic_with_risk'

  .row.section.nobreak
    = render partial: 'legislatives/legislatives'

  .row.section.nobreak
    = render partial: 'legislatives/legislatives_by_source'

  .row.section.nobreak
    = render partial: 'legislatives/legislatives_by_status'

  .row.section.nobreak
    = render partial: 'legislatives/legislatives_by_topic'

  .row.section.nobreak
    = render partial: 'legislatives/stakeholders'
