.panels-view
  %h2
    Detalle del Proyecto
  .pryctDtl.double
    %p
      = @legislative.title
    %dl
      %dt
        Origen
      %dd
        = @legislative.source
      %dt
        Fecha Comisión Senado
      %dd
        = @legislative.senate_commission_at
      %dt
        Número en Cámara
      %dd
        = @legislative.chamber_number
      %dt
        Fecha Plenaria Senado
      %dd
        = @legislative.senate_plenary_at
      %dt
        Número Senado
      %dd
        = @legislative.senate_number
      %dt
        Tema interés
      %dd
        = @legislative.topic
      %dt
        Comisión
      %dd
        = @legislative.commission
    %dl
      %dt
        Estatus
      %dd
        = @legislative.status
      %dt 
        Fecha de Radicación
      %dd
        = @legislative.filing_at
      %dt
        Fecha Plenaria Cámara
      %dd
        = @legislative.chamber_plenary_at
      %dt
        Fecha Comisión Cámara
      %dd
        = @legislative.chamber_commission_at
      %dt
        Tipo de Ley
      %dd
        = @legislative.law
      %dt
        Probabilidad
      %dd
        = @legislative.probability
  .tray.autors
    %h2
      Autores
    %table
      %tbody
        - @authors.each do |author|
          %tr
            %td
              = author.name
  .tray.autors
    %h2
      Ponentes
    %table
      %tbody
        - @speakers.each do |speaker|
          %tr
            %td
              = speaker.name

              