.panels-view
  %h2
    Detalle del Proyecto
  .pryctDtl.double
    %p
      = @legislative.title
    %dl
      %dt
        Origen
      %dd
        = @legislative.source
      %dt
        Fecha Comisión Senado
      %dd
        = @legislative.senate_commission_at
      %dt
        Número en Cámara
      %dd
        = @legislative.chamber_number
      %dt
        Fecha Plenaria Senado
      %dd
        = @legislative.senate_plenary_at
      %dt
        Número Senado
      %dd
        = @legislative.senate_number
      %dt
        Tema interés
      %dd
        = @legislative.topic
      %dt
        Comisión
      %dd
        = @legislative.commission
    %dl
      %dt
        Fecha de Radicación
      %dd
        = @legislative.filing_at
      %dt
        Fecha Plenaria Cámara
      %dd
        = @legislative.chamber_plenary_at
      %dt
        Fecha Comisión Cámara
      %dd
        = @legislative.chamber_commission_at
      %dt
        Tipo de Ley
      %dd
        = @legislative.type_law
      %dt
        Probabilidad
      %dd
        = @legislative.probability
      %dt
        Estatus
      %dd
        - if %w(Archivado Retirado Sancionado).include? @legislative.final_status
          = "Este proyecto fue #{@legislative.final_status} en #{@legislative.status}"
        - else
          = @legislative.status
  .tray.autors
    %h2
      Autores
    %ul
      - @authors.each do |author|
        %li
          = author.name
  .tray.autors
    %h2
      Ponentes Cámara
    %ul
      - @chamber_speakers.each do |speaker|
        %li
          = speaker.name
  .tray.autors
    %h2
      Ponentes Senado
    %ul
      - @senate_speakers.each do |speaker|
        %li
          = speaker.name
