.legislatives.panels-view
  %h1
    = fa_icon "legal"
    Rama Legislativa
  .row
    .small-12.columns
      %h2
        = fa_icon "star"
        Detalles del proyecto
        / %span{style: "color:red"}
        /   (*)
      .pryctDtl
        .row.cntnr.white
          .large-4.columns
            %button
              = fa_icon "arrow-left"
              %a{href: legislatives_path}
                Consultar Proyectos
            %button.secondary
              = fa_icon "eye-slash"
              No seguir
          .large-4.columns
          .large-4.columns.actions
            %a#downloads{"data-reveal-id" => "filesPnl"}
              = fa_icon "download"
              %span
                Descargar Archivos
            %a
              = fa_icon "file-pdf-o"
              %span
                Exportar a PDF
        .row.cntnr
          .large-12.columns
            .row
              .large-2.columns.labels
                %label
                  Título
              .large-10.columns
                %span.txtdesc
                  = @legislative.title
            .row
              .large-2.columns.labels
                %label
                  Origen
              .large-2.columns
                %span
                  = @legislative.source
              .large-2.columns.labels
                %label
                  Fecha Comisión Senado
              .large-6.columns
                %span
                  = @legislative.senate_commission_at
            .row
              .large-2.columns.labels
                %label
                  Número en Cámara
              .large-2.columns
                %span
                  = @legislative.chamber_number
              .large-2.columns.labels
                %label
                  Fecha Plenaria Senado
              .large-6.columns
                %span
                  = @legislative.senate_plenary_at
            .row
              .large-2.columns.labels
                %label
                  Número Senado
              .large-2.columns
                %span
                  = @legislative.senate_number
              .large-2.columns.labels
                %label
                  Tema interés
              .large-6.columns
                %span
                  = @legislative.topic
            .row
              .large-2.columns.labels
                %label
                  Comisión
              .large-2.columns
                %span
                  = @legislative.commission
              .large-2.columns.labels
                %label
                  Estatus
              .large-6.columns
                %span
                  = @legislative.status
            .row
              .large-2.columns.labels
                %label 
                  Fecha de Radicación
              .large-2.columns
                %span
                  = @legislative.filing_at
              .large-2.columns.labels
                %label
                  Fecha Plenaria Cámara
              .large-6.columns
                %span
                  = @legislative.chamber_plenary_at
            .row
              .large-2.columns.labels
                %label
                  Fecha Comisión Cámara
              .large-2.columns
                %span
                  = @legislative.chamber_commission_at
              .large-2.columns.labels
                %label
                  Tipo de Ley
              .large-6.columns
                %span
                  = @legislative.law
            .row
              .large-2.columns.labels
                %label
                  Probabilidad
              .large-2.columns
                %span
                  = @legislative.probability
              .large-8.columns
                %span
            .row.white
              .large-2.columns.labels
                %label
                  Impacto
              .large-2.columns
                %select
                  %option
                    Ninguno
                  %option
                    1
                  %option
                    2
                  %option
                    3
                  %option
                    4
                  %option
                    5
                  %option
                    6
              .large-8.columns
                %span.ghost
                  \-
            .row.white
              .large-2.columns.labels
                %label
                  Comentario
              .large-6.columns
                %textarea.comments{rows: "6"}
              .large-4.columns
                %span.ghost
                  \-
        .row.cntnr.viewActns
          .large-2.columns
          .large-10.columns
            %button.success
              = fa_icon "save"
              Guardar
        .row
          .large-6.columns
            %h3
              = fa_icon "users"
              Autores
            .tray.autors
              %table
                %thead
                  %tr
                    %th
                      Nombre de Autor
                %tbody
                  %tr
                    %td
                      Alfredo Ramos Maya
                  %tr
                    %td
                      Álvaro Uribe Vélez
                  %tr
                    %td
                      Ernesto Macías Tovar
                  %tr
                    %td
                      Iván Duque Márquez
                  %tr
                    %td
                      Jaime Alejandro Amín Hernández
                  %tr
                    %td
                      José Obdulio Gaviria Vélez
                  %tr
                    %td
                      Paloma Susana Valencia Laserna
          .large-6.columns
            %h3
              = fa_icon "users"
              Ponentes
            .tray.autors
              %table
                %thead
                  %tr
                    %th
                      Nombre de Ponente
                %tbody
                  %tr
                    %td
                      Ángel Custodio Cabrera Baez

- content_for :modal do
  .reveal-modal.filesPnl.legislatives#filesPnl{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}

    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .large-12.columns
        %h2
          = fa_icon "files-o"
          Archivos
    .row.panels-view
      .large-12.columns
        .tray.autors
          %table
            %colgroup
              %col
              %col.date{width: "30%"}
            %thead
              %tr
                %th
                  Título
                %th
                  Fecha de Publicación
                %th
                  
            %tbody
              - @legislative.legislative_attachments.each do |la|
                %tr
                  %td
                    = la.title
                  %td
                    = la.published_at
                  %td
                    %a.down{href: la.attachment.url, target: "_blank"}
                      = fa_icon "download"
                      Descargar
