.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "file-text"
        Detalles del proyecto
      .pryctDtl
        .row.cntnr.white
          .large-4.columns
            .button
              %a{href: legislatives_path}
                = fa_icon "arrow-left"
                Consultar Proyectos
            - if current_user.following? @legislative
              .button.secondary
                %a{ href: unfollow_legislative_path(@legislative) }
                  = fa_icon "eye-slash"
                  No seguir
            - else
              .button.success
                %a{ href: follow_legislative_path(@legislative) }
                  = fa_icon "eye"
                  Seguir
          .large-4.columns
          .large-4.columns.actions
            %a#downloads{"data-reveal-id" => "filesPnl"}
              = fa_icon "download"
              %span
                Descargar Archivos
            %a{ href: legislative_path(@legislative, format: :pdf), target: "_blank" }
              = fa_icon "file-pdf-o"
              %span
                Exportar a PDF
        .row.cntnr
          .large-12.columns
            .row
              .large-2.columns.labels
                %label
                  Título
              .large-10.columns
                %span.txtdesc
                  = @legislative.title
            .row
              .large-2.columns.labels
                %label
                  Origen
              .large-2.columns
                %span
                  = @legislative.source
              .large-2.columns.labels
                %label
                  Tema interés
              .large-6.columns
                %span
                  = @legislative.topic
            .row
              .large-2.columns.labels
                %label
                  Número en Cámara
              .large-2.columns
                %span
                  = @legislative.chamber_number
              .large-2.columns.labels
                %label
                  Tipo de Ley
              .large-6.columns
                %span
                  = @legislative.type_law
            .row
              .large-2.columns.labels
                %label
                  Número Senado
              .large-2.columns
                %span
                  = @legislative.senate_number
              .large-2.columns.labels
                %label
                  Fecha de Radicación
              .large-6.columns
                %span
                  = ldate @legislative.filing_at
            .row
              .large-2.columns.labels
                %label
                  Probabilidad
              .large-2.columns
                %span
                  = @legislative.probability
              .large-2.columns.labels
                %label
                  Comisión
              .large-6.columns
                %span
                  = @legislative.commission
            .row
              .large-2.columns.labels
                %label
                  Estado
              .large-10.columns
                %span
                  - if %w(Archivado Retirado Sancionado).include? @legislative.final_status
                    = "Es proyecto fue #{@legislative.final_status} en #{@legislative.status}"
                  - else
                    = @legislative.status
            - if @legislative.law_number.present?
              .row
                .large-2.columns.labels
                  %label
                    Número de Ley
                .large-10.columns
                  %span
                    = @legislative.law_number
            .row
              .large-2.columns.labels
                %label
                  Fecha Comisión Senado
              .large-2.columns
                %span
                  = ldate @legislative.senate_commission_at
              .large-2.columns.labels
                %label
                  Fecha Plenaria Cámara
              .large-6.columns
                %span
                  = ldate @legislative.chamber_plenary_at
            .row
              .large-2.columns.labels
                %label
                  Fecha Comisión Cámara
              .large-2.columns
                %span
                  = ldate @legislative.chamber_commission_at
              .large-2.columns.labels
                %label
                  Fecha Plenaria Senado
              .large-6.columns
                %span
                  = ldate @legislative.senate_plenary_at
            .row
              .large-2.columns.labels
                %label
                  Fecha Segunda Vuelta Plenaria Cámara
              .large-2.columns
                %span
                  = ldate @legislative.second_chamber_plenary_at
              .large-2.columns.labels
                %label
                  Fecha Segunda Vuelta Comisión Cámara
              .large-6.columns
                %span
                  = ldate @legislative.second_chamber_commission_at
            .row
              .large-2.columns.labels
                %label
                  Fecha Segunda Vuelta Plenaria Senado
              .large-2.columns
                %span
                  = ldate @legislative.second_senate_plenary_at
              .large-2.columns.labels
                %label
                  Fecha Segunda Vuelta Comisión Senado
              .large-6.columns
                %span
                  = ldate @legislative.second_senate_commission_at
            - if current_user.following? @legislative
              = form_for @comment do |f|
                .row.white
                  .large-2.columns.labels
                    %label
                      Impacto
                  .large-2.columns
                    = f.select :impact, options_for_select(Comment::IMPACT, @comment.impact), include_blank: true
                  .large-8.columns
                    %span.ghost
                      \-
                .row.white
                  .large-2.columns.labels
                    %label
                      Comentario
                  .large-6.columns
                    = f.text_area :body, class: "comments", rows: 6
                    = f.hidden_field :legislative_id, value: @legislative.id
                    %input.button.success.save{type: "submit", value: "Guardar"}
                  .large-4.columns
                    %span.ghost
                      \-
        .row
          .large-12.columns
            %h3
              = fa_icon "users"
              Autores
            .tray.autors
              %table
                %thead
                  %tr
                    %th
                      Nombre de Autor
                %tbody
                  - @authors.each do |author|
                    %tr
                      %td
                        = link_to author.name, stakeholder_legislatives_path(author)
        .row
          .large-6.columns
            %h3
              = fa_icon "users"
              Ponentes Cámara
            .tray.autors
              %table
                %thead
                  %tr
                    %th
                      Nombre de Ponente
                %tbody
                  - @chamber_speakers.each do |speaker|
                    %tr
                      %td
                        = link_to speaker.name, stakeholder_legislatives_path(speaker)
          .large-6.columns
            %h3
              = fa_icon "users"
              Ponentes Senado
            .tray.autors
              %table
                %thead
                  %tr
                    %th
                      Nombre de Ponente
                %tbody
                  - @senate_speakers.each do |speaker|
                    %tr
                      %td
                        = link_to speaker.name, stakeholder_legislatives_path(speaker)
- content_for :modal do
  .reveal-modal.filesPnl.legislatives#filesPnl{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}

    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .large-12.columns
        %h2
          = fa_icon "files-o"
          Archivos
    .row.panels-view
      .large-12.columns
        .tray.autors
          %table
            %colgroup
              %col
              %col.date{width: "30%"}
            %thead
              %tr
                %th
                  Título
                %th
                  Fecha de Publicación
                %th

            %tbody
              - @attachments.each do |a|
                %tr
                  %td
                    = a.title
                  %td
                    = ldate a.published_at
                  %td
                    %a.down{href: a.attachment.url, target: "_blank"}
                      = fa_icon "download"
                      Descargar
