.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "users"
        Consultar Congresistas
      .tray.rep
        .row
          .small-12.columns
            %ul.tabs{"data-tab" => "", :role => "tablist"}
              %li.tab-title.active{:role => "presentational"}
                %a{"aria-selected" => "true", :controls => "basicPanel", :href => "#basicPanel", :role => "tab", :tabindex => "0"}
                  = fa_icon "search"
                  Buscador
            .tabs-content
              %section#basicPanel.content.active{"aria-hidden" => "false", :role => "tabpanel"}
                .row
                  = search_form_for @q, url: :stakeholders_legislatives, remote: true do |f|
                    .large-4.medium-6.columns
                      %label
                        Nombre
                      = f.search_field :name_cont
                    .large-1.medium-2.columns
                      %label
                        Comisi贸n
                      = f.collection_select :commission_eq, Commission.all, :name, :name, include_blank: true
                    .large-3.medium-4.columns
                      %label
                        Regi贸n
                      = f.collection_select :region_eq, Region.all, :name, :name, include_blank: true
                    .large-offset-0.large-2.medium-offset-3.medium-3.columns
                      %label
                        %span.ghost
                          \_
                      %input.button.success.search.fullwidth{type: "submit", value: "Buscar"}
                    .large-offset-0.large-2.medium-3.end.columns
                      %label
                        %span.ghost
                          \_
                      .button.secondary.fullwidth.quit
                        %a{href: stakeholders_legislatives_path}
                          Quitar Filtros
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "120"}
          %thead
            %tr
              %th
                Nombre
              %th
                Cargo
              %th
                Partido
              %th
                Comisi贸n
              %th
                Regi贸n
              %th
                Opciones
          %tbody.js_stakeholders
            = render @stakeholders
