.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "user"
        Perfil Congresista
      .pryctDtl
        .button
          - url = @period.active? ? stakeholders_legislatives_path : period_stakeholders_legislatives_path(id: @period.id)
          %a{href: url}
            = fa_icon "arrow-left"
            Consultar Congresistas
        .row.cntnr
          .large-12.columns
            .row.white.profileHdr
              .large-3.medium-4.columns.fixHght
                %figure
                  = image_tag @stakeholder.avatar_url
                  %figcaption
                    = @stakeholder.name
              .large-2.medium-1.columns.fixHght.ghost
              .large-7.medium-7.columns.fixHght.ghost.actions.prflActns
                %a{"data-reveal-id" => "autorPop"}
                  = fa_icon "file"
                  %span
                    Ver en Autor
                %a{"data-reveal-id" => "ponentePop"}
                  = fa_icon "file"
                  %span
                    Ver en Ponentes
                %a{ href: stakeholder_legislatives_path(@stakeholder, period_id: @period.id, format: :pdf), target: "_blank"}
                  = fa_icon "file-pdf-o"
                  %span
                    Exportar a PDF
          .large-12.columns.panels#profilePan
            .row
              .large-2.medium-3.columns.labels
                %label
                  Nombre
              .large-10.medium-9.columns
                %span
                  = @stakeholder.name
            .row
              .large-2.medium-3.columns.labels
                %label
                  Corporación Institucional
              .large-4.medium-9.columns
                %span
                  Congreso de la República
              .large-2.medium-3.columns.labels
                %label
                  Cargo
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.job
            .row
              .large-2.medium-3.columns.labels
                %label
                  Partido
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.political_party
              .large-2.medium-3.columns.labels
                %label
                  Comisión
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.commission
            .row
              .large-2.medium-3.columns.labels
                %label
                  Dirección
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.address
              .large-2.medium-3.columns.labels
                %label
                  Región
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.region
            .row
              .large-2.medium-3.columns.labels
                %label
                  Teléfono del Trabajo
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.phone
              .large-2.medium-3.columns.labels
                %label
                  Oficina
              .large-4.medium-9.columns
                %span
                  = @stakeholder_period.office
            .row
              .large-2.medium-3.columns.labels
                %label
                  E-mail
              .large-4.medium-9.columns
                %span
                  = @stakeholder.email
              .large-2.medium-3.columns.labels
                %label
                  Fuente de Información
              .large-4.medium-9.columns
                %span
                  = link_to @stakeholder.source, @stakeholder.source
            .row
              .large-2.medium-12.columns.labels
                %label
                  Perfil
              .large-10.medium-12.columns{:align => "justify"}
                %span
                  = simple_format @stakeholder.info
- content_for :modal do
  .reveal-modal.modal-bigTbl.legislatives#autorPop{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}
    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .tray.autors
        .row
          .small-12.columns
            %h2
              = fa_icon "inbox"
              Autor en
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "120"}
          %thead
            %tr
              %th
                Num Cámara
              %th
                Num Senado
              %th
                Título
              %th
                Fecha de Radicación
          %tbody
            - @legislatives_as_author.each do |legislative|
              %tr
                %td
                  = legislative.chamber_number
                %td
                  = legislative.senate_number
                %td.desc
                  = simple_format legislative.title
                %td
                  = legislative.filing_at

- content_for :modal do
  .reveal-modal.modal-bigTbl.legislatives#ponentePop{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}
    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .tray.autors
        .row
          .small-12.columns
            %h2
              = fa_icon "inbox"
              Ponente en
          %table
            %colgroup
              %col
              %col
              %col
              %col
              %col{width: "120"}
            %thead
              %tr
                %th
                  Num Cámara
                %th
                  Num Senado
                %th
                  Título
                %th
                  Fecha de Radicación
            %tbody
              - @legislatives_as_speaker.each do |legislative|
                %tr
                  %td
                    = legislative.chamber_number
                  %td
                    = legislative.senate_number
                  %td.desc
                    = simple_format legislative.title
                  %td
                    = legislative.filing_at