.panels-view
  %h2
    Perfil Congresista
  .person
    - if @stakeholder.avatar_url
      - if !@stakeholder.avatar_url.nil?
        - if embed_remote_image(@stakeholder.avatar_url, 'image/png')
          %figure.avatar
            = image_tag embed_remote_image(@stakeholder.avatar_url, 'image/png')
            %p
              = @stakeholder.name
    %dl
      %dt
        %label Nombre
      %dd
        = @stakeholder.name
      %dt
        %label Corporación Institucional
      %dd
        Congreso de la República
      %dt
        %label Cargo
      %dd
        = @stakeholder_period.job
      %dt
        %label Partido
      %dd
        = @stakeholder_period.political_party
      %dt
        %label Comisión
      %dd
        = @stakeholder_period.commission
      %dt
        %label Dirección
      %dd
        = @stakeholder_period.address
      %dt
        %label Región
      %dd
        = @stakeholder_period.region
      %dt
        %label Teléfono del Trabajo
      %dd
        = @stakeholder_period.phone
      %dt
        %label Oficina
      %dd
        = @stakeholder_period.office
      %dt
        %label E-mail
      %dd
        = @stakeholder.email
      %dt
        %label Fuente de Información
      %dd
        = @stakeholder.source
      %dt
        %label Perfil
      %dd
        .columns{:align => "justify"}
          %p
            = simple_format @stakeholder.info
.div
  - if @legislatives_as_author.present?
    .tray.autors
      %h2
        Autor en
      %table
        %colgroup
          %col{width: "18%"}
          %col{width: "18%"}
          %col
          %col{width: "28%"}
        %thead
          %tr
            %th
              Num Cámara
            %th
              Num Senado
            %th
              Título
            %th
              Fecha de Radicación
        %tbody
          - @legislatives_as_author.each do |legislative|
            %tr
              %td
                = legislative.chamber_number
              %td
                = legislative.senate_number
              %td.desc
                = simple_format legislative.title
              %td
                = legislative.filing_at
  - if @legislatives_as_speaker.present?
    .tray.autors
      %h2
        Ponente en
      %table
        %colgroup
          %col{width: "18%"}
          %col{width: "18%"}
          %col
          %col{width: "28%"}
        %thead
          %tr
            %th
              Num Cámara
            %th
              Num Senado
            %th
              Título
            %th
              Fecha de Radicación
        %tbody
          - @legislatives_as_speaker.each do |legislative|
            %tr
              %td
                = legislative.chamber_number
              %td
                = legislative.senate_number
              %td.desc
                = simple_format legislative.title
              %td
                = legislative.filing_at
