.resetPswd
  %h2
    = fa_icon "key"
    ¿Olvidó su Contraseña?
  .row
    .small-12.columns
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .row
          .small-12.columns
            Enviar las instrucciones para restablecer la contraseña
        .row
          .medium-3.small-4.columns.labels
            .field
              = f.label :email
          .medium-9.small-8.columns
            = f.email_field :email, autofocus: true
        .row
          .medium-3.small-4.columns
          .medium-9.small-8.columns
            .actions
              = f.submit "Restablecer contraseña", class: "button success"
              %hr
        .row
          .medium-3.small-4.columns
          .medium-9.small-8.columns.actions
            = render "devise/shared/links"
