.panels-view
  .row
    .small-12.columns
      %h2
        = fa_icon "user"
        Perfil Concejal
      .pryctDtl
        .button
          %a{href: councillors_councils_path}
            = fa_icon "arrow-left"
            Consultar Concejales
        .row.cntnr
          .large-12.columns
            .row.white.profileHdr
              .large-3.medium-4.columns.fixHght
                %figure
                  = image_tag @councillor.avatar_url(:thumb)
                  %figcaption
                    = @councillor.name
              .large-2.medium-1.columns.fixHght.ghost
              .large-7.medium-7.columns.fixHght.ghost.actions.prflActns
                %a{"data-reveal-id" => "autorPop"}
                  = fa_icon "file"
                  %span
                    Ver en Autor
                %a{"data-reveal-id" => "ponentePop"}
                  = fa_icon "file"
                  %span
                    Ver en Ponentes
                %a{ href: councillor_councils_path(@councillor, format: :pdf), target: "_blank"}
                  = fa_icon "file-pdf-o"
                  %span
                    Exportar a PDF
          .large-12.columns.panels#profilePan
            .row
              .large-2.medium-3.columns.labels
                %label
                  Nombre
              .large-10.medium-9.columns
                %span
                  = @councillor.name
            .row
              .large-2.medium-3.columns.labels
                %label
                  Corporación Institucional
              .large-4.medium-9.columns
                %span
                  Concejo de Bogotá
              .large-2.medium-3.columns.labels
                %label
                  Cargo
              .large-4.medium-9.columns
                %span
                  = @councillor.job
            .row
              .large-2.medium-3.columns.labels
                %label
                  Partido
              .large-4.medium-9.columns
                %span
                  = @councillor.political_party
              .large-2.medium-3.columns.labels
                %label
                  Comisión
              .large-4.medium-9.columns
                %span
                  = @councillor.commission
            .row
              .large-2.medium-3.columns.labels
                %label
                  Dirección
              .large-10.medium-9.columns
                %span
                  = @councillor.address
            .row
              .large-2.medium-3.columns.labels
                %label
                  Teléfono del Trabajo
              .large-4.medium-9.columns
                %span
                  = @councillor.phone
              .large-2.medium-3.columns.labels
                %label
                  Oficina
              .large-4.medium-9.columns
                %span
                  = @councillor.office
            .row
              .large-2.medium-3.columns.labels
                %label
                  E-mail
              .large-4.medium-9.columns
                %span
                  = @councillor.email
              .large-2.medium-3.columns.labels
                %label
                  Fuente de Información
              .large-4.medium-9.columns
                %span
                  = link_to @councillor.source, @councillor.source
            .row
              .large-2.medium-12.columns.labels
                %label
                  Perfil
              .large-10.medium-12.columns
                %span
                  = simple_format @councillor.info
- content_for :modal do
  .reveal-modal.modal-bigTbl.councils#autorPop{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}
    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .tray.autors
        .row
          .small-12.columns
            %h2
              = fa_icon "inbox"
              Autor en
        %table
          %colgroup
            %col
            %col
            %col
            %col
            %col{width: "120"}
          %thead
            %tr
              %th
                Número
              %th
                Título
              %th
                Fecha de Radicación
          %tbody
            - @councils_as_author.each do |council|
              %tr
                %td
                  = council.number
                %td.desc
                  = council.title
                %td
                  = ldate council.filing_at

- content_for :modal do
  .reveal-modal.modal-bigTbl.councils#ponentePop{"data-reveal" => "", "aria-labelledby"=>"modalTitle", "aria-hidden"=>"true", role: "dialog"}
    %a.close-reveal-modal{"aria-label" => "Close"}
      &#215;
    .row.panels-view
      .tray.autors
        .row
          .small-12.columns
            %h2
              = fa_icon "inbox"
              Ponente en
          %table
            %colgroup
              %col
              %col
              %col
              %col
              %col{width: "120"}
            %thead
              %tr
                %th
                  Número
                %th
                  Título
                %th
                  Fecha de Radicación
            %tbody
              - @councils_as_speaker.each do |council|
                %tr
                  %td
                    = council.number
                  %td.desc
                    = council.title
                  %td
                    = council.filing_at
