.panels-view
  %h2
    Perfil Concejal
  .person
    -if @councillor.avatar_url
      %figure
        = wicked_pdf_image_tag @councillor.avatar_url(:thumb)
        %p
          = @councillor.name
    %dl
      %dt
        %label Nombre
      %dd
        = @councillor.name
      %dt
        %label Corporación Institucional
      %dd
        Concejo de Bogotá
      %dt
        %label Cargo
      %dd
        = @councillor.job
      %dt
        %label Partido
      %dd
        = @councillor.political_party
      %dt
        %label Comisión
      %dd
        = @councillor.commission
      %dt
        %label Dirección
      %dd
        = @councillor.address
      %dt
        %label Teléfono del Trabajo
      %dd
        = @councillor.phone
      %dt
        %label Oficina
      %dd
        = @councillor.office
      %dt
        %label E-mail
      %dd
        = @councillor.email
      %dt
        %label Fuente de Información
      %dd
        = @councillor.source
      %dt
        %label Perfil
      %dd
        %p
          = simple_format @councillor.info
.alwaysbreak
  .tray.autors
    %h2
      Autor en
    %table
      %colgroup
        %col
        %col
        %col
        %col
        %col
      %thead
        %tr
          %th
            Número
          %th
            Comisión
          %th
            Título
          %th
            Fecha de Radicación
      %tbody
        - @councils_as_author.each do |council|
          %tr
            %td
              = council.number
            %td
              = council.commission
            %td.desc
              = council.title
            %td
              = council.filing_at
  .tray.autors
    %h2
      Ponente en
    %table
      %colgroup
        %col
        %col
        %col
        %col
        %col{width: "120"}
      %thead
        %tr
          %th
            Número
          %th
            Comisión
          %th
            Título
          %th
            Fecha de Radicación
      %tbody
        - @councils_as_speaker.each do |council|
          %tr
            %td
              = council.number
            %td
              = council.commission
            %td.desc
              = council.title
            %td
              = council.filing_at
