%table
  %tr
    %th ID
    %th Concejal
    %th Proyectos
  - @councillors.each do |councillor|
    %tr
      %td= councillor.id
      %td= councillor.name
      %td
        %table
          - councillor.councils.each do |council|
            %tr
              %td= council.id
              %td= council.title
              %td= council.number
