.panels-view
  .row
    .small-12.columns
      %h2
        Detalles del proyecto
      .project.double
        .row
          .large-2.columns.labels
            %label
              Título
          .large-10.columns
            %span.txtdesc
              = @council.title
        %br

        %dl
          %dt
            %label Número
          %dd
            = @council.number
        %dl
          %dt
            %label Tema de Interes
          %dd
            = @council.topic

        %dl
          %dt
            %label Fecha de Seguimiento
          %dd
            = ldate @council.updated_at, format: :db
        %dl
          %dt
            %label Fecha de Radicación
          %dd
            = ldate @council.filing_at

        %dl
          %dt
            %label Estado
          %dd
            = @council.status
        %dl
          %dt
            %label Comisión
          %dd
            = @council.commission
%br
%br
	
- if @authors.present?
  .row.nobreak
    .large-12.columns
      %h2
        Autores
      .tray.autors
        %table
          %tbody
            - @authors.each do |author|
              %tr
                %td
                  = link_to author.name, councillor_councils_path(author)
- if @speakers.present?
  .row.nobreak
    .large-12.columns
      %h2
        Ponentes
      .tray.autors
        %table
          %tbody
            - @speakers.each do |speaker|
              %tr
                %td
                  = link_to speaker.name, councillor_councils_path(speaker)
