%p#notice= notice

%p
  %b Title:
  = @judicial.title
%p
  %b Number:
  = @judicial.number
%p
  %b Kind:
  = @judicial.kind
%p
  %b Filing at:
  = @judicial.filing_at
%p
  %b Court:
  = @judicial.court
%p
  %b Room:
  = @judicial.room
%p
  %b Type:
  = @judicial.type

