%tr
  %td
    = stakeholder.name
  %td
    = StakeholdersPeriod.active_period(stakeholder.id, @period.id).job
  %td
    = StakeholdersPeriod.active_period(stakeholder.id, @period.id).political_party
  %td
    = StakeholdersPeriod.active_period(stakeholder.id, @period.id).commission
  %td
    = StakeholdersPeriod.active_period(stakeholder.id, @period.id).region
  %td.actions
    %a.more{href: stakeholder_legislatives_path(stakeholder, period_id: @period.id)}
      = fa_icon "arrow-circle-right"
      %span
        Ver
