%h1 Noticias
%table
  %thead
    %tr
      %th Fecha
      %th Titulo
      %th Origen
      %th Noticia
      %th
  %tbody
    - @stories.each do |story|
      %tr
        %td= l(story.created_at, format: :db)
        %td= story.title
        %td= story.source
        %td= story.body
        %td= link_to "Ver", story_path(story.id)
