%tr
  %td.num= ldate event.event_at
  %td.num= l event.time, format: :simple
  %td.desc= simple_format event.body
  %td= event.event_type
  %td
    - if event.commission.present?
      = event.commission if event.commission.present?
    - elsif event.plenary.present?
      = event.plenary
    %p= event.place
  %td
    - if current_user.following? event
      %a.follow{href: unfollow_event_path(event)}
        = fa_icon "eye-slash"
        %span
          Dejar de Seguir
    - else
      %a.follow{href: follow_event_path(event)}
        = fa_icon "eye"
        %span
          Seguir