%tr
  %td.num= ldate event.event_at
  %td.num= l event.time, format: :simple
  %td.desc= simple_format event.body
  %td= event.event_type
  %td
    - if event.commission.present?
      = "Comisión " + event.commission if event.commission.present?
    - elsif event.plenary.present?
      = "Plenaria " + event.plenary
    %p= event.place
