%tr
  %td= ldate agenda.event_at
  %td= l agenda.time, format: :simple
  %td= agenda.legislative.chamber_number
  %td= agenda.legislative.senate_number
  %td.desc= simple_format agenda.legislative.title
  %td= agenda.plenary_commission
  %td.desc= simple_format agenda.event_type