.login
  %h2
    = fa_icon "sign-in"
    Acceder
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .row
      .large-3.medium-3.small-4.columns.labels
        .field
          = f.label :email
      .large-9.medium-9.small-8.columns
        = f.email_field :email, autofocus: true
    .row
      .large-3.medium-3.small-4.columns.labels
        .field
        = f.label :password
      .large-9.medium-9.small-8.columns
        = f.password_field :password, autocomplete: "off"
    .row
      .small-12.columns
        - if devise_mapping.rememberable?
          .large-3.medium-3.small-4.columns.labels
            = f.label :recordar
          .large-9.medium-9.small-8.columns
            .field
              = f.check_box :remember_me
    .row
      .medium-3.small-4.columns
        %span
      .medium-9.small-8.columns
        .actions
          = f.submit "Iniciar Sesión", class: "button success"
          %hr
    .row
      .medium-3.small-4.columns
      .medium-9.small-8.columns.actions
        = render "devise/shared/links"

:javascript
  if(window!=window.top) {
    top.window.location.href = 'http://app.sidegap.com/users/sign_in';
  }