/ Off Canvas Menu
%aside.left-off-canvas-menu
  / whatever you want goes here
  %ul.off-canvas-list
    %li
      %label
        Sidegap
    %li
      %a{:href => legislatives_path}
        %span.ico
          = fa_icon "university"
        %strong Rama Legislativa
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "sitemap"
        %strong Rama Ejecutiva
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "legal"
        %strong Rama Judicial
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "eye"
        %strong Organismos de control y ministerio público
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "hand-o-down"
        %strong Organización Electoral
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "users"
        %strong Normas en proceso de consulta ciudadana
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "comments"
        %strong Concejos Municipales
    %li
      %a{:href => "#"}
        %span.ico
          = fa_icon "building-o"
        %strong Distrito capital de Bogotá