!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Sidegap
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: params[:controller]}
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        - if user_signed_in?
          = render 'layouts/nav'
          = render 'layouts/sidebar'
        %header
          .row
            .large-12.columns
              .logo
                = image_tag("logo_sidegap.png")
            .large-12.columns
              = render 'title_top' unless %w(welcome sessions registrations).include? controller.controller_name

        %section.main.main-section
          .row
            .large-12.columns
              - flash.each do |name, msg|
                .alert-box.radius{ 'data-alert': '', class: name }
                  = msg
                  %a.close{href: "#"} &times;
              = yield
      = render 'layouts/footer'
  = yield :modal