!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsWickedPdf
    = wicked_pdf_stylesheet_link_tag    "pdf", :media => "print", "data-turbolinks-track" => true
    = wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
  %body
    %header
      = wicked_pdf_image_tag ("logo_sidegap.png")
    %section.main.main-section
      = yield